.video-section {
    padding: 62px 0 166px;
}
.video{
    width: 100%;
    height: 100%;
    display: inline-block;
}
// Responsive
@media(max-width:1000px){
    .video-section{
        padding: 125px 0;
    }
}
@media(max-width:780px){
    .video-section{
        padding: 26px 0;
    }
}